.nav_top_fix, .nav_bot_fix {
  position: fixed;
  right: 0;
  left: 0;
}
.navbar-left-fix {
	float: left;
	position: fixed;
}
.navbar-right-fix {
	float: right;
	position: fixed;
}
.navbar-center {
	width: auto;
	margin: 0 auto;
}

.navbar-default {
	background-color: #f8f8f8;
	color: #e7e7e;
	min-height: 50px;
	box-sizing: border-box;
}
.navbar_large_white {
	display: flex;
	width: 100%;
	border-bottom: 2px solid black;
	margin-bottom: 20px;
}
.navbar_large_dark {
	display: flex;
	width: 100%;
	background-color: black;
	margin-bottom: 20px;
}
.navbarè_large_white li {
	color: black;
	margin: 0 10px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px 5px black;
	flex:1;
}
.navbarè_large_black li {
	color: white;
	margin: 0 10px;
	border: 1px solid white;
	
	box-shadow: 1px 1px 1px 5px white;
	flex:1;
}
.container_column {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.row {
	display: flex;
	width: 100%;
}
.col-beauty {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	background: radial-gradient(circle, white , #eee 40%, #ddd 100%);
	padding: 10px;
}
.col-1 {
	flex: 1;
	margin: 0 5px;
}
.col-2 {
	flex: 2;
	margin: 0 5px;
}
.col-3 {
	flex: 3;
	margin: 0 5px;
}
.col-4 {
	flex: 4;
	margin: 0 5px;
}
.col-5 {
	flex: 5;
	margin: 0 5px;
}
.col-marg-1 {
	margin-left: 20%;
}
.col-marg-2 {
	margin-left: 40%;
}
.col-marg-3 {
	margin-left: 60%;
}
.col-marg-4 {
	margin-left: 80%;
}
.col-marg-5 {
	margin-left: 100%;
}
.pagination {
	display: flex;
	margin: 10px 0;
	border-radius: 4px;
	width: auto;
}
.pagination > li {
  display: inline;
}
.pagination > li > a {
	z-index: 2;
	padding: 6px 12px;
	color: #35DA03;
	background-color: #fff;
  border: 1px solid #ddd;
	text-shadow: 1px 1px 2px #35DA03;
}
.pagination > li >a:hover, .pagination > li >a:active {
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}
.page_left {
	float: left;
}
.page_right {
	float: right;
}
.page_center {

}
