/*Marge*/
.m_xxs {
	margin: 3px;
}
.m_xs {
	margin: 5px;
}
.m_s {
	margin: 10px;
}
.m_m {
	margin: 15px;
}
.m_l {
	margin: 20px;
}
.m_xl {
	margin: 30px;
}
.m_xxl {
	margin: 50px;
}
/*Marge top*/
.mt_xxs {
	margin-top: 3px;
}
.mt_xs {
	margin-top: 5px;
}
.mt_s {
	margin-top: 10px;
}
.mt_m {
	margin-top: 15px;
}
.mt_l {
	margin-top: 20px;
}
.mt_xl {
	margin-top: 30px;
}
.mt_xxl {
	margin-top: 50px;
}
/*Marge bottom*/
.mb_xxs {
	margin-bottom: 3px;
}
.mb_xs {
	margin-bottom: 5px;
}
.mb_s {
	margin-bottom: 10px;
}
.mb_m {
	margin-bottom: 15px;
}
.mb_l {
	margin-bottom: 20px;
}
.mb_xl {
	margin-bottom: 30px;
}
.mb_xxl {
	margin-bottom: 50px;
}
/*Marge left*/
.ml_xxs {
	margin-left: 3px;
}
.ml_xs {
	margin-left: 5px;
}
.ml_s {
	margin-left: 10px;
}
.ml_m {
	margin-left: 15px;
}
.ml_l {
	margin-left: 20px;
}
.ml_xl {
	margin-left: 30px;
}
.ml_xxl {
	margin-left: 50px;
}
/*Marge right*/
.mr_xxs {
	margin-right: 3px;
}
.mr_xs {
	margin-right: 5px;
}
.mr_s {
	margin-right: 10px;
}
.mr_m {
	margin-right: 15px;
}
.mr_l {
	margin-right: 20px;
}
.mr_xl {
	margin-right: 30px;
}
.mr_xxl {
	margin-right: 50px;
}
/*Padding*/
.p_xxs {
	padding: 3px;
}
.p_xs {
	padding: 5px;
}
.p_s {
	padding: 10px;
}
.p_m {
	padding: 15px;
}
.p_l {
	padding: 20px;
}
.p_xl {
	padding: 30px;
}
.p_xxl {
	padding: 50px;
}
/*Padding top*/
.pt_xxs {
	padding-top: 3px;
}
.pt_xs {
	padding-top: 5px;
}
.pt_s {
	padding-top: 10px;
}
.pt_m {
	padding-top: 15px;
}
.pt_l {
	padding-top: 20px;
}
.pt_xl {
	padding-top: 30px;
}
.pt_xxl {
	padding-top: 50px;
}
/*Padding bottom*/
.pb_xxs {
	padding-bottom: 3px;
}
.pb_xs {
	padding-bottom: 5px;
}
.pb_s {
	padding-bottom: 10px;
}
.pb_m {
	padding-bottom: 15px;
}
.pb_l {
	padding-bottom: 20px;
}
.pb_xl {
	padding-bottom: 30px;
}
.pb_xxl {
	padding-bottom: 50px;
}
/*Padding left*/
.pl_xxs {
	padding-left: 3px;
}
.pl_xs {
	padding-left: 5px;
}
.pl_s {
	padding-left: 10px;
}
.pl_m {
	padding-left: 15px;
}
.pl_l {
	padding-left: 20px;
}
.pl_xl {
	padding-left: 30px;
}
.pl_xxl {
	padding-left: 50px;
}
/*Padding right*/
.pr_xxs {
	padding-right: 3px;
}
.pr_xs {
	padding-right: 5px;
}
.pr_s {
	padding-right: 10px;
}
.pr_m {
	padding-right: 15px;
}
.pr_l {
	padding-right: 20px;
}
.pr_xl {
	padding-right: 30px;
}
.pr_xxl {
	padding-right: 50px;
}
/*Width en vw*/
.w_5vw {
	width: 5vw;
}
.w_10vw {
	width: 10vw;
}
.w_15vw {
	width: 15vw;
}
.w_20vw {
	width: 20vw;
}
.w_25vw {
	width: 25vw;
}
.w_30vw {
	width: 30vw;
}
.w_35vw {
	width: 35vw;
}
.w_40vw {
	width: 40vw;
}
.w_45vw {
	width: 45vw;
}
.w_50vw {
	width: 50vw;
}
.w_55vw {
	width: 55vw;
}
.w_60vw {
	width: 60vw;
}
.w_65vw {
	width: 65vw;
}
.w_70vw {
	width: 70vw;
}
.w_75vw {
	width: 75vw;
}
.w_80vw {
	width: 80vw;
}
.w_85vw {
	width: 85vw;
}
.w_90vw {
	width: 90vw;
}
.w_95vw {
	width: 95vw;
}
.w_100vw {
	width: 100vw;
}
/*width en %*/
.w_5 {
	width: 5%;
}
.w_10 {
	width: 10%;
}
.w_15 {
	width: 15%;
}
.w_20 {
	width: 20%;
}
.w_25 {
	width: 25%;
}
.w_30 {
	width: 30%;
}
.w_35 {
	width: 35%;
}
.w_40 {
	width: 40%;
}
.w_45 {
	width: 45%;
}
.w_50 {
	width: 50%;
}
.w_55 {
	width: 55%;
}
.w_60 {
	width: 60%;
}
.w_65 {
	width: 65%;
}
.w_70 {
	width: 70%;
}
.w_75 {
	width: 75%;
}
.w_80 {
	width: 80%;
}
.w_85 {
	width: 85%;
}
.w_90 {
	width: 90%;
}
.w_95 {
	width: 95%;
}
.w_100 {
	width: 100%;
}
/*height en vh*/
.h_5vh {
	height: 5vh;
}
.h_10vh {
	height: 10vh;
}
.h_15vh {
	height: 15vh;
}
.h_20vh {
	height: 20vh;
}
.h_25vh {
	height: 25vh;
}
.h_30vh {
	height: 30vh;
}
.h_35vh {
	height: 35vh;
}
.h_40vh {
	height: 40vh;
}
.h_45vh {
	height: 45vh;
}
.h_50vh {
	height: 50vh;
}
.h_55vh {
	height: 55vh;
}
.h_60vh {
	height: 60vh;
}
.h_65vh {
	height: 65vh;
}
.h_70vh {
	height: 70vh;
}
.h_75vh {
	height: 75vh;
}
.h_80vh {
	height: 80vh;
}
.h_85vh {
	height: 85vh;
}
.h_90vh {
	height: 90vh;
}
.h_95vh {
	height: 95vh;
}
.h_100vh {
	height: 100vh;
}
/*Height en %*/
.h_5 {
	height: 5%;
}
.h_10 {
	height: 10%;
}
.h_15 {
	height: 15%;
}
.h_20 {
	height: 20%;
}
.h_25 {
	height: 25%;
}
.h_30 {
	height: 30%;
}
.h_35 {
	height: 35%;
}
.h_40 {
	height: 40%;
}
.h_45 {
	height: 45%;
}
.h_50 {
	height: 50%;
}
.h_55 {
	height: 55%;
}
.h_60 {
	height: 60%;
}
.h_65 {
	height: 65%;
}
.h_70 {
	height: 70%;
}
.h_75 {
	height: 75%;
}
.h_80 {
	height: 80%;
}
.h_85 {
	height: 85%;
}
.h_90 {
	height: 90%;
}
.h_95 {
	height: 95%;
}
.h_100 {
	height: 100%;
}
