        #formblock{
        padding: .5em .6em;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        margin: .25em 0;
        display: block;
        box-sizing: border-box;
    }

    #forminline{
        padding: .5em .6em;
        display: inline-block;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #ccc;
    }
    /*form reset*/

    button, input, select, textarea {
        font: inherit;
        box-sizing: border-box;
        margin: 0;
        color: #ccc;
